@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700&display=swap");
* {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
  color: #272727;
}

/* Top */
.top {
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Top Banner */
.topBannerWrap {
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.topBannerWrap a {
  margin-bottom: 1px;
  color: white;
}

/* Header */
.headerWrap {
  height: 83px;
  padding: 0 70px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  -moz-backdrop-filter: blur(7px);
  -o-backdrop-filter: blur(7px);
}
.headerWrap .headMenu {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.headerWrap .headMenu .headMenuIcon {
  margin-right: 10px;
}
.headerWrap .headMenu .headMenuIcon .menuIcon {
  width: 20px;
  height: 1px;
  background-color: #272727;
}
.headerWrap .headMenu .headMenuIcon .menuTop, .headerWrap .headMenu .headMenuIcon .menuMiddle {
  margin-bottom: 4.5px;
}
.headerWrap .headMenu .headMenuText {
  margin-bottom: 1px;
  font-size: 1.077rem;
}
.headerWrap .headLogo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.headerWrap .headLogo img {
  width: 167px;
  cursor: pointer;
}
.headerWrap .headCustomerMenu {
  display: flex;
}
.headerWrap .headCustomerMenu .customerLog {
  margin-right: 28px;
  font-size: 1.077rem;
}
.headerWrap .headCustomerMenu .customerLog .cusLogin, .headerWrap .headCustomerMenu .customerLog .cusLogSlash {
  margin-right: 8px;
}
.headerWrap .headCustomerMenu .customerLog .cusLogin, .headerWrap .headCustomerMenu .customerLog .cusJoin {
  color: #888;
}
.headerWrap .headCustomerMenu .customerLog .cusLogin:hover, .headerWrap .headCustomerMenu .customerLog .cusJoin:hover {
  color: #272727;
}
.headerWrap .headCustomerMenu .customerIcon img {
  width: 17px;
}
.headerWrap .headCustomerMenu .customerIcon .cusSearch {
  cursor: pointer;
}
.headerWrap .headCustomerMenu .customerIcon .cusSearch, .headerWrap .headCustomerMenu .customerIcon .cusCart {
  margin-right: 28px;
}

/* Slide */
.swiper-slide img {
  width: 100%;
  display: block;
}
.swiper-slide .slideContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.swiper-slide .slideContent p {
  color: white;
}
.swiper-slide .slideContent p:nth-child(1) {
  margin-bottom: 25px;
  font-size: 3.38rem;
  line-height: 1.2;
  white-space: nowrap;
}
.swiper-slide .slideContent p:nth-child(2) {
  font-weight: 300;
  margin-bottom: 60px;
  white-space: nowrap;
}
.swiper-slide .slideContent .slideMoreBtn {
  width: 162px;
  height: 54px;
  display: inline-block;
  line-height: 54px;
  border: 1px solid white;
  color: white;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.2509803922);
  cursor: pointer;
}

.swiper1 {
  position: relative;
  overflow: hidden;
}
.swiper1 .slideMiniImg {
  display: none;
}
.swiper1 .swiper-pagination {
  bottom: 35px;
}
.swiper1 .swiper-pagination .swiper-pagination-bullet {
  margin: 0 6px;
  background-color: #F4F4F4;
}
.swiper1 .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #272727;
}
.swiper1 .swiper-button-prev {
  left: 70px;
}
.swiper1 .swiper-button-next {
  right: 70px;
  transform: scaleX(-1);
}
.swiper1 .swiper-button-prev, .swiper1 .swiper-button-next {
  background: url(../icon/slideArrow-btn.svg) no-repeat;
  background-position: center;
}
.swiper1 .swiper-button-prev::after, .swiper1 .swiper-button-next::after {
  display: none;
}

/* Introduce */
.introWrap {
  padding: 100px 70px;
  text-align: center;
  background-color: #F4F4F4;
}
.introWrap .introCon {
  position: relative;
  margin-bottom: 48px;
}
.introWrap .introCon .introTitle {
  top: 30px;
  font-size: 2.76rem;
  transition: all 700ms ease;
  white-space: nowrap;
}
.introWrap .introCon .introConLine {
  width: 1px;
  height: 45px;
  top: 77px;
  margin: 32px auto;
  background-color: #272727;
  transition: all 700ms ease 300ms;
}
.introWrap .introCon .introDescript {
  bottom: -30px;
  font-size: 1.077rem;
  font-weight: 300;
  line-height: 30px;
  transition: all 700ms ease 500ms;
  white-space: nowrap;
}
.introWrap img {
  width: 646px;
}

/* New Item */
.newWrap {
  padding: 100px 70px 0 70px;
}
.newWrap .newTitle {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.newWrap .newTitle .newTitleCon p:first-child {
  color: #888;
  font-weight: 300;
  font-size: 1.077rem;
}
.newWrap .newTitle .newTitleCon p:last-child {
  font-size: 2.76rem;
}
.newWrap .newTitle .newTitleBtn {
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid #272727;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all 200ms ease;
}
@media (hover: hover) {
  .newWrap .newTitle .newTitleBtn:hover {
    color: white;
    background-color: #272727;
  }
}
.newWrap ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.newWrap ul li {
  width: 24.36%;
}
.newWrap ul li .newThumb {
  margin-bottom: 13px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.newWrap ul li .newThumb .newCartBtn {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: -50px;
  text-align: center;
  line-height: 50px;
  color: white;
  background-color: #272727;
  opacity: 0;
  transition: all 300ms ease;
}
@media (hover: hover) {
  .newWrap ul li .newThumb:hover .newCartBtn {
    bottom: 0;
    opacity: 1;
  }
}
.newWrap ul li .newThumb img {
  width: 100%;
  display: block;
}
.newWrap ul li .newDescript .newName {
  margin-bottom: 10px;
}
.newWrap ul li .newDescript .newName a {
  font-size: 1.077rem;
}
.newWrap ul li .newDescript .newName p {
  margin-top: 3px;
  font-weight: 300;
}
.newWrap ul li .newDescript .newPrice span:first-child {
  margin-right: 7px;
  color: #888;
  text-decoration: line-through;
}
.newWrap ul li .newDescript .newPrice span:last-child {
  font-weight: 500;
  color: #ff8800;
}

/* Best Item */
.bestWrap {
  display: flex;
}
.bestWrap div {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.bestWrap div img {
  width: 100%;
  display: block;
  transition: all 300ms ease;
}
@media (hover: hover) {
  .bestWrap div:hover img {
    transform: scale(1.05);
  }
}
.bestWrap div p {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.077rem;
  color: white;
}

/* Event */
.eventWrap {
  padding: 100px 0;
}
.eventWrap .eventBox {
  position: relative;
  cursor: pointer;
}
.eventWrap .eventBox .eventMainImg, .eventWrap .eventBox .eventMiniImg {
  width: 100%;
  display: block;
  filter: brightness(0.4);
  transition: all 300ms ease;
}
.eventWrap .eventBox .eventMiniImg {
  display: none;
}
.eventWrap .eventBox .eventTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.eventWrap .eventBox .eventTitle p {
  text-align: center;
  color: white;
}
.eventWrap .eventBox .eventTitle p:last-child {
  font-size: 2.76rem;
}
@media (hover: hover) {
  .eventWrap .eventBox:hover img {
    filter: brightness(0.2);
  }
}

/* Footer */
.footerWrap {
  padding: 56px 70px 100px 70px;
  display: flex;
  justify-content: space-between;
  background-color: #F4F4F4;
}
.footerWrap .footBrand .brandLogo {
  width: 150px;
  margin-bottom: 40px;
}
.footerWrap .footBrand .brandDescript {
  margin-bottom: 40px;
  font-weight: 300;
  color: #888;
}
.footerWrap .footBrand .brandMenu {
  width: 160px;
  height: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #888;
  cursor: pointer;
}
.footerWrap .footBrand .brandMenu .brandMainMenu {
  width: 100%;
  padding: 17px 0;
  display: flex;
  justify-content: space-between;
}
.footerWrap .footBrand .brandMenu .brandMainMenu img, .footerWrap .footBrand .brandMenu .brandMainMenu a {
  transition: all 300ms ease;
}
.footerWrap .footBrand .brandMenu .brandMainMenu:hover a {
  color: #888;
}
.footerWrap .footBrand .brandMenu .brandSubMenu {
  display: none;
}
.footerWrap .footBrand .brandMenu .brandSubMenu li {
  padding-bottom: 17px;
}
.footerWrap .footBrand .brandMenu .brandSubMenu li a {
  transition: all 300ms ease;
}
.footerWrap .footBrand .brandMenu .brandSubMenu li:hover a {
  color: #888;
}
.footerWrap .footBrand .brandMenu:hover .brandMainMenu img {
  transform: rotate(180deg);
}
.footerWrap .footInfo {
  display: flex;
}
.footerWrap .footInfo .infoInter {
  margin-right: 100px;
}
.footerWrap .footInfo .footTitle {
  margin-bottom: 30px;
  font-size: 1.077rem;
  font-weight: 500;
}
.footerWrap .footInfo .footCon p, .footerWrap .footInfo .footCon li {
  font-weight: 300;
  color: #888;
}
.footerWrap .footInfo .footCon li {
  line-height: 27px;
}
.footerWrap .footInfo .footCon li a {
  transition: all 300ms ease;
}
.footerWrap .footInfo .footCon li:hover a {
  color: #888;
}
.footerWrap .footInfo .infoCustomer .footCon p:nth-child(1), .footerWrap .footInfo .infoCustomer .footCon p:nth-child(2) {
  margin-bottom: 10px;
}
.footerWrap .footInfo .infoCustomer .footCon p:nth-child(1) {
  font-size: 1.2rem;
  font-weight: 500;
}
.footerWrap .footInfo .infoCustomer .footCon p:nth-child(3) {
  line-height: 27px;
}
.footerWrap .footInfo .infoCompany .footCon {
  line-height: 27px;
}

/* Media Query */
@media (max-width: 1441px) {
  .footerWrap .footInfo .infoInter {
    margin-right: 50px;
  }
}
@media (max-width: 1296px) {
  .footerWrap {
    flex-direction: column;
  }
  .footerWrap .footBrand {
    margin-bottom: 56px;
  }
}
@media (max-width: 1025px) {
  * {
    font-size: 12px;
  }
  .swiper-slide .slideContent p:nth-child(2) {
    margin-bottom: 45px;
  }
  .swiper-slide .slideContent .slideMoreBtn {
    width: 145px;
    height: 45px;
    line-height: 45px;
  }
  .newWrap ul li .newThumb .newCartBtn {
    height: 40px;
    line-height: 40px;
  }
  .footerWrap .footInfo {
    flex-direction: column;
  }
  .footerWrap .footInfo .infoInter {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 769px) {
  * {
    font-size: 11px;
  }
  .headerWrap {
    height: 70px;
    padding: 0 40px;
  }
  .headerWrap .headLogo img {
    width: 150px;
  }
  .headerWrap .headCustomerMenu .customerIcon .cusSearch, .headerWrap .headCustomerMenu .customerIcon .cusCart {
    margin-right: 20px;
  }
  .headerWrap .headCustomerMenu .customerLog {
    display: none;
  }
  .swiper1 .swiper-slide .slideOriginImg {
    display: none;
  }
  .swiper1 .swiper-slide .slideMiniImg {
    display: block;
  }
  .swiper1 .swiper-slide .slideContent .slideMoreBtn {
    width: 120px;
    height: 40px;
    line-height: 40px;
  }
  .swiper1 .swiper-pagination {
    bottom: 20px;
  }
  .swiper1 .swiper-pagination span {
    width: 5px;
    height: 5px;
  }
  .swiper1 .swiper-button-next, .swiper1 .swiper-button-prev {
    background-size: 13px;
  }
  .swiper1 .swiper-button-prev {
    left: 40px;
  }
  .swiper1 .swiper-button-next {
    right: 40px;
  }
  .introWrap {
    padding: 70px 40px;
  }
  .introWrap img {
    width: 100%;
  }
  .newWrap {
    padding: 70px 40px 0 40px;
  }
  .newWrap ul {
    flex-wrap: wrap;
  }
  .newWrap ul li {
    width: 49%;
  }
  .newWrap ul li:nth-child(1), .newWrap ul li:nth-child(2) {
    margin-bottom: 20px;
  }
  .newWrap .newTitle .newTitleBtn {
    width: 100px;
    height: 35px;
    margin-bottom: 7px;
    line-height: 35px;
  }
  .bestWrap {
    flex-direction: column;
  }
  .bestWrap div {
    width: 100%;
  }
  .eventWrap {
    padding: 70px 0;
  }
  .eventWrap .eventBox .eventMiniImg {
    display: block;
  }
  .eventWrap .eventBox .eventMainImg {
    display: none;
  }
  .footerWrap {
    padding: 56px 40px 100px 40px;
  }
  .footerWrap .footInfo .footTitle {
    margin-bottom: 10px;
  }
}
@media (max-width: 426px) {
  * {
    font-size: 9px;
  }
  .headerWrap {
    padding: 0 20px;
  }
  .headerWrap .headMenu .headMenuText {
    display: none;
  }
  .headerWrap .headCustomerMenu {
    display: none;
  }
  .swiper1 .swiper-slide .slideContent p:nth-child(1) {
    font-size: 3rem;
  }
  .swiper1 .swiper-button-next {
    right: 20px;
  }
  .swiper1 .swiper-button-prev {
    left: 20px;
  }
  .swiper1 .swiper-button-next, .swiper1 .swiper-button-prev {
    background-size: 10px;
  }
  .introWrap {
    padding: 50px 20px;
  }
  .introWrap .introCon {
    margin-bottom: 30px;
  }
  .introWrap .introCon .introConLine {
    margin: 20px auto;
  }
  .introWrap .introCon .introDescript {
    font-weight: 400;
    line-height: 25px;
  }
  .newWrap {
    padding: 50px 20px 0 20px;
  }
  .newWrap .newTitle .newTitleBtn {
    width: 80px;
    height: 30px;
    line-height: 30px;
  }
  .bestWrap div p {
    bottom: 30px;
  }
  .eventWrap {
    padding: 50px 0;
  }
  .eventWrap .eventBox .eventTitle p:last-child {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=app.css.map */
